body {
    main {
        .block-services {
            text-align: center;
            background: url('../../assets/images/Fondo-Servicios.jpg');
            color: #FFFFFF;
            margin-top: -164px;
            padding-left: 5%;
            padding-right: 5%;
            @include breakpoint(desktop) {
                background-size: 100%;
            }
            .item {
                @include breakpoint(phone) {
                    margin-bottom: 40px;
                }
            }
            h3 {
                font-size: 75px;
                margin-top: 77px;
                @include breakpoint(phone) {
                    font-size: 60px;
                }
            }
            .group-1 {
                margin-right: 0;
                margin-left: 0;
                margin-top: 100px;
                margin-bottom: 90px;
            }
            .group-2 {
                margin-right: 0;
                margin-left: 0;
            }
            img {
                background-color: #FFFFFF;
                border-radius: 130px;
                margin-bottom: 22px;
            }
            .group-3 {
                padding-left: 5%;
                padding-right: 5%;
                margin-top: 130px;
                padding-bottom: 15%;
                .description {
                    p {
                        font-size: 44px;
                        text-align: left;
                        @include breakpoint(phone) {
                            font-size: 34px;
                        }
                    }
                }
                .btn {
                    button {
                        background-color: #FF6700;
                        color: #FFFFFF;
                        border-radius: 100px;
                        cursor: pointer;
                        border: solid 1px #FF6700;
                        height: 55px;
                        margin-top: 17px;
                        width: 100%;
                        transition: 1s;
                        box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75);
                        font-style: italic;
                        @include breakpoint(phone) {
                            font-size: 19px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 24px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 30px;
                        }
                    }
                    button:hover {
                        background-color: #FFFFFF;
                        color: #FF6700;
                        border: solid 1px #FF6700;
                    }
                }
            }
        }
        .lineas-services {
            margin-top: -105px;
            position: absolute;
            @include breakpoint(phone) {
                display: none;
            }
        }
    }
}