body {
    main {
        .cards {
            text-align: center;
            background: linear-gradient(to top, #FFFFFF 0%, #E4E4E4 100%);
            background-size: 100%;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 12%;
            @include breakpoint(tablet) {
                padding-left: 7%;
                padding-right: 0%;
            }
            p {
                font-weight: bold;
            }
            h3 {
                font-size: 32px;
                margin-top: 100px;
            }
            .group-1 {
                margin-right: 0;
                margin-left: 0;
                margin-top: 100px;
                .card-1,
                .card-2,
                .card-3 {
                    background-color: #FFFFFF;
                    border: solid 2px #78D1DF;
                    border-radius: 27px;
                    height: 266px;
                    margin-right: 35px;
                    box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75);
                    p {
                        margin-top: 34px;
                    }
                    @include breakpoint(phone) {
                        max-width: 100%;
                        margin-right: 9px;
                        margin-bottom: 65px
                    }
                    @include breakpoint(tablet) {
                        max-width: 28%;
                    }
                    @include breakpoint(desktop) {
                        max-width: 30%;
                    }
                }
                img {
                    margin-top: 34px;
                    margin-bottom: 19px;
                }
            }
            .group-2 {
                margin-right: 0;
                margin-left: 0;
                margin-top: 59px;
                .card-1,
                .card-2,
                .card-3 {
                    background-color: #FFFFFF;
                    border: solid 2px #78D1DF;
                    border-radius: 27px;
                    height: 266px;
                    margin-right: 35px;
                    box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75);
                    @include breakpoint(phone) {
                        max-width: 100%;
                        margin-right: 9px;
                        margin-bottom: 65px
                    }
                    @include breakpoint(tablet) {
                        max-width: 28%;
                    }
                    @include breakpoint(desktop) {
                        max-width: 30%;
                    }
                }
                .card-2 {
                    p {
                        margin-top: 42px;
                    }
                }
                .card-3 {
                    p {
                        margin-top: 26px;
                    }
                }
                img {
                    margin-top: 34px;
                    margin-bottom: 19px;
                }
            }
        }
    }
}