body {
    main {
        .columna-3 {
            background-image: url('../../assets/images/Fondo-Perfiles.png');
            p {
                margin: 0;
                font-size: 48px;
                text-align: center;
                padding-top: 5%;
                padding-bottom: 5%;
                @include breakpoint(phone) {
                    padding-top: 10%;
                    padding-bottom: 10%;
                }
            }
        }
    }
}