body {
    main {
        .formulario-final {
            background-image: url('../../assets/images/Fondo-Form-Final.jpg');
            @include breakpoint(desktop) {
                background-size: 100%;
            }
            .title {
                font-size: 37px;
                margin: 0;
                margin-top: 150px;
                text-align: center;
                color: #FFFFFF;
            }
            .form-description {
                margin-right: 0;
                margin-left: 0;
                padding-right: 7%;
                padding-left: 7%;
                padding-top: 8%;
                padding-bottom: 8%;
                @include breakpoint (phone) {
                    padding-top: 23%;
                    padding-bottom: 44%;
                }
                .description {
                    background-color: #FFFFFF;
                    border-radius: 22px;
                    text-align: center;
                    padding-top: 9%;
                    padding-bottom: 6%;
                    p {
                        @include breakpoint(phone) {
                            font-size: 24px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 32px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 37px;
                        }
                    }
                    label {
                        color: #00C13A;
                    }
                    img {
                        margin-top: 120px;
                        @include breakpoint(phone) {
                            display: none;
                        }
                    }
                }
                .form {
                    @include breakpoint(phone) {
                        margin-top: 30px;
                        padding-right: 0;
                        padding-left: 0;
                    }
                    form {
                        background-color: #FFFFFF;
                        padding-top: 13%;
                        padding-left: 9%;
                        padding-right: 9%;
                        border-radius: 22px;
                        padding-bottom: 25%;
                        p {
                            font-size: 29px;
                            margin-bottom: 30px;
                            font-weight: bold;
                            text-align: center;
                            margin-top: 43px;
                        }
                        label {
                            color: #00C13A;
                        }
                        input {
                            border-radius: 30px;
                            margin-bottom: 17px;
                            border: solid 1px #004D94;
                            height: 50px;
                            width: 100%;
                            padding: .375rem .75rem;
                        }
                        .bton {
                            width: 100%;
                            background-color: #5FACFF;
                            color: #FFFFFF;
                            height: 50px;
                            transition: 1s;
                            font-size: 25px;
                            border-radius: 70px;
                            font-style: italic;
                            font-weight: bold;
                        }
                        .bton:hover {
                            background-color: #FFFFFF;
                            color: #5FACFF;
                            border: solid 1px #5FACFF;
                            border-radius: 80px;
                        }
                    }
                }
            }
        }
    }
}