body {
    main {
        .perfiles-profesionales {
            background-image: url('../../assets/images/Fondo-Perfiles.png');
            padding-bottom: 12%;
            .title {
                h2 {
                    font-size: 52px;
                    text-align: center;
                    margin-top: 100px;
                    @include breakpoint(phone) {
                        font-size: 38px;
                    }
                }
            }
            .group-1 {
                margin-right: 0;
                margin-left: 0;
                padding-left: 8%;
                padding-right: 8%;
                margin-top: 250px;
                margin-bottom: 160px;
                .nombre-profesinal {
                    background: linear-gradient(to right, #5FACFF 0%, #4E769A 100%);
                    border-radius: 0px 47px 47px 0px;
                    height: 60px;
                    @include breakpoint(phone) {
                        border-radius: 47px;
                        width: 100%;
                        height: 86px;
                        margin-left: 0;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 30%;
                    }
                    @include breakpoint(desktop) {
                        margin-left: 19%;
                    }
                    @media screen and (min-width: 1900px) {
                        margin-left: 5%;
                    }
                    h2 {
                        color: #FFFFFF;
                        margin-top: -12px;
                        strong {
                            @include breakpoint(desktop) {
                                font-size: 35px;
                            }
                        }
                        @include breakpoint(phone) {
                            font-size: 25px;
                            text-align: center;
                        }
                        @include breakpoint(tablet) {
                            font-size: 25px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 19px;
                        }
                        strong {
                            margin-left: 11%;
                        }
                    }
                }
                h3 {
                    @include breakpoint(phone) {
                        margin-left: 0;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 43%;
                    }
                    @include breakpoint(desktop) {
                        margin-left: 28%;
                    }
                    @media screen and (min-width: 1900px) {
                        margin-left: 15%
                    }
                }
                p {
                    @include breakpoint(phone) {
                        margin-left: 0;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 43%;
                    }
                    @include breakpoint(desktop) {
                        margin-left: 28%;
                    }
                    @media screen and (min-width: 1900px) {
                        margin-left: 15%
                    }
                }
                .img {
                    img {
                        margin-top: -191px;
                        margin-left: 0;
                        @include breakpoint(phone) {
                            width: 100%;
                        }
                        @media screen and (min-width: 1900px) {
                            margin-top: -264px;
                        }
                    }
                }
            }
            .group-2 {
                margin-right: 0;
                margin-left: 0;
                padding-left: 8%;
                padding-right: 8%;
                @include breakpoint(phone) {
                    margin-top: 470px;
                }
                .nombre-profesinal {
                    background-color: #5FACFF;
                    border-radius: 47px 0px 0px 47px;
                    height: 60px;
                    margin-left: 17%;
                    @include breakpoint(phone) {
                        border-radius: 47px;
                        width: 100%;
                        height: 86px;
                        margin-left: 0;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 0;
                    }
                    h2 {
                        color: #FFFFFF;
                        margin-top: -12px;
                        @include breakpoint(phone) {
                            font-size: 25px;
                            text-align: center;
                        }
                        @include breakpoint(tablet) {
                            font-size: 25px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 19px;
                        }
                        strong {
                            @include breakpoint(phone) {
                                margin-left: 6%;
                            }
                            @include breakpoint(tablet) {
                                margin-left: 21%;
                            }
                            @include breakpoint(desktop) {
                                margin-left: 29%;
                                font-size: 35px;
                            }
                            @media screen and (min-width: 1900px) {
                                margin-left: 36%;
                            }
                        }
                    }
                }
                h3 {
                    text-align: right;
                    @include breakpoint(phone) {
                        margin-right: 0;
                    }
                    @include breakpoint(tablet) {
                        margin-right: 41%;
                    }
                    @include breakpoint(desktop) {
                        margin-right: 23%;
                    }
                    @media screen and (min-width: 1900px) {
                        margin-right: 28%;
                    }
                }
                p {
                    text-align: right;
                    @media screen and (min-width: 1900px) {
                        margin-right: 28%;
                    }
                    @include breakpoint(tablet) {
                        margin-right: 41%;
                    }
                    @include breakpoint(phone) {
                        margin-right: 0;
                    }
                    @include breakpoint(desktop) {
                        margin-right: 23%;
                    }
                    @media screen and (min-width: 1900px) {
                        margin-right: 28%;
                    }
                }
                .img {
                    img {
                        margin-top: -191px;
                        @include breakpoint(phone) {
                            width: 100%;
                            margin-left: 0;
                            margin-top: -991px;
                        }
                        @include breakpoint(tablet) {
                            margin-left: -258%;
                        }
                        @include breakpoint(desktop) {
                            margin-left: -144%;
                        }
                        @media screen and (min-width: 1900px) {
                            margin-top: -253px;
                        }
                    }
                }
            }
            .description {
                h3 {
                    color: #37436F;
                    font-weight: bold;
                    margin-top: 18px;
                }
                p {
                    color: #9E9E9E;
                }
            }
        }
    }
}