body {
    main {
        .popups {
            .modal {
                .modal-dialog {
                    padding-left: 5%;
                    padding-right: 5%;
                    @include breakpoint(phone) {
                        padding-top: 28%;
                    }
                    @include breakpoint(tablet) {
                        padding-top: 40%;
                    }
                    @include breakpoint(desktop) {
                        padding-top: 5%;
                    }
                    .modal-content {
                        background-color: #5FACFF;
                        border-radius: 15px;
                        text-align: center;
                        padding-bottom: 20%;
                        .close {
                            text-align: right;
                            margin-top: -26px;
                            margin-right: -8%;
                            margin-bottom: 27px;
                            span {
                                background-color: #FFFFFF;
                                color: #5FACFF;
                                border-radius: 40px;
                                padding-left: 2%;
                                padding-right: 2%
                            }
                        }
                        .modal-body {
                            .especialista-1 {
                                position: absolute;
                                right: 77%;
                                width: 66.2%;
                                @include breakpoint(phone) {
                                    right: 71%;
                                    top: 214px;
                                    width: 38%;
                                }
                                @include breakpoint(tablet) {
                                    top: 32px;
                                }
                                @include breakpoint(desktop) {
                                    top: 69px;
                                }
                                @media screen and (min-width: 1900px) {
                                    top: 145px;
                                }
                            }
                            .especialista-2 {
                                left: 81%;
                                position: absolute;
                                width: 66.4%;
                                @include breakpoint(phone) {
                                    left: 72%;
                                    top: 214px;
                                    width: 38%;
                                }
                                @include breakpoint(tablet) {
                                    top: 32px;
                                }
                                @include breakpoint(desktop) {
                                    top: 69px;
                                }
                                @media screen and (min-width: 1900px) {
                                    top: 145px;
                                }
                            }
                            p {
                                font-size: 30px;
                                color: #FFFFFF;
                                @include breakpoint(phone) {
                                    font-size: 26px;
                                }
                            }
                            form {
                                padding-left: 8%;
                                padding-right: 8%;
                                margin-top: 38px;
                                input {
                                    background-color: transparent;
                                    color: #FFFFFF;
                                    border: solid 1px #FFFFFF;
                                    border-radius: 23px;
                                    height: 50px;
                                    margin-bottom: 22px;
                                    box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
                                    width: 100%;
                                    padding: .375rem .75rem;
                                }
                                 ::placeholder {
                                    color: #FFFFFF;
                                    font-style: italic;
                                }
                            }
                            button {
                                background-color: #FF6700;
                                color: #FFFFFF;
                                width: 80%;
                                border-radius: 32px;
                                font-size: 27px;
                                margin-bottom: 23px;
                                transition: 1s;
                                font-style: italic;
                                right: 9%;
                                z-index: 1;
                                position: absolute;
                            }
                            button:hover {
                                background-color: #FFFFFF;
                                color: #FF6700;
                                border: solid 1px #FF6700;
                            }
                        }
                    }
                }
            }
        }
    }
}