body {
    main {
        .slider-testimonio {
            background: linear-gradient(to top, #EBEBEB 0%, #78D1DF 100%);
            @include breakpoint(phone) {
                height: 500px;
            }
            .testimonials {
                .title-testimonio {
                    margin-left: 10%;
                    margin-top: 179px;
                    @include breakpoint(phone) {
                        margin-top: 80px;
                        margin-left: 8%;
                    }
                    h2 {
                        font-weight: bold;
                    }
                    h2,
                    h3 {
                        @include breakpoint(phone) {
                            font-size: 29px;
                            margin-left: 3%
                        }
                    }
                    .comilla {
                        font-size: 190px;
                        height: 126px;
                        margin-top: -62px;
                    }
                    .testimonio {
                        margin-left: 4%;
                        width: 36%;
                        font-weight: bold;
                        @include breakpoint(phone) {
                            width: 84%;
                        }
                        @include breakpoint(tablet) {
                            font-size: 18px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 18px;
                        }
                    }
                    img {
                        margin-left: 23%;
                        @include breakpoint(phone) {
                            display: none;
                        }
                        @include breakpoint(tablet) {
                            margin-top: -200px;
                            width: 67%;
                        }
                        @include breakpoint(desktop) {
                            margin-top: -274px;
                            width: 67%;
                        }
                    }
                }
            }
        }
    }
}