body {
    main {
        .slider-testimonio {
            background-image: url('../../assets/images/Fondo-Slider-Testimonio.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
            .description {
                p {
                    text-align: center;
                    padding-top: 52%;
                    padding-bottom: 5%;
                }
            }
        }
    }
}