body {
    main {
        .slider-testimonio {
            background-image: url('../../assets/images/Fondo-Slider-Testimonio.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
            .description {
                p {
                    text-align: center;
                    padding-top: 52%;
                    padding-bottom: 8%;
                    font-size: 26px;
                    margin-top: 80px;
                    @include breakpoint(phone) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}