html body {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #5FACFF; }

body header .logo-contact {
  text-align: center; }
  @media (min-width: 1025px) {
    body header .logo-contact {
      text-align: left;
      width: 85%;
      margin-left: 7%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body header .logo-contact {
      text-align: left;
      width: 85%;
      margin-left: 7%; } }
  body header .logo-contact .row {
    margin-right: 0; }
    body header .logo-contact .row .col-sm-6 .logo {
      margin-top: 20px; }
    @media (max-width: 667px) {
      body header .logo-contact .row .col-sm-6 .contact {
        margin-bottom: 15px; } }
    @media (min-width: 1025px) {
      body header .logo-contact .row .col-sm-6 .contact {
        text-align: right; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body header .logo-contact .row .col-sm-6 .contact {
        text-align: right; } }
    body header .logo-contact .row .col-sm-6 .contact i {
      float: left;
      font-size: 49px;
      margin-top: 24px;
      color: #6B6D71; }
      @media (max-width: 667px) {
        body header .logo-contact .row .col-sm-6 .contact i {
          float: none;
          margin-left: 0;
          margin-bottom: 15px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body header .logo-contact .row .col-sm-6 .contact i {
          margin-left: 13%; } }
      @media (min-width: 1025px) {
        body header .logo-contact .row .col-sm-6 .contact i {
          margin-left: 53%; } }
    body header .logo-contact .row .col-sm-6 .contact p {
      font-size: 32px;
      font-weight: 300;
      margin: 0;
      font-weight: bold; }

body footer {
  background-color: #FFFFFF; }
  body footer .row {
    margin-right: 0; }
    body footer .row .col-sm-8 ul {
      margin-top: 37px; }
      @media (min-width: 1025px) {
        body footer .row .col-sm-8 ul {
          margin-left: 9%;
          margin-top: 40px; } }
      body footer .row .col-sm-8 ul li {
        list-style: none;
        font-size: 13px;
        margin-top: 5px; }
        @media (min-width: 1025px) {
          body footer .row .col-sm-8 ul li {
            font-size: 22px;
            margin-top: 0; } }
        body footer .row .col-sm-8 ul li i {
          width: 8%;
          color: #6B6D71; }
          @media (min-width: 1025px) {
            body footer .row .col-sm-8 ul li i {
              width: 5%;
              letter-spacing: 16px; } }
    body footer .row .logo {
      text-align: center;
      margin-top: 11px;
      margin-bottom: 23px; }
      @media (min-width: 1025px) {
        body footer .row .logo {
          margin-top: 40px;
          margin-bottom: 40px; } }

body header .lineas-img {
  position: absolute;
  z-index: 1;
  width: 100%; }
  @media (max-width: 667px) {
    body header .lineas-img {
      display: none; } }
  body header .lineas-img .img-arriba {
    margin-top: 26px; }

@media (max-width: 667px) {
  body header .lineas-img-2 {
    display: none; } }

body header .lineas-img-2 .img-abajo {
  position: absolute;
  text-align: right;
  margin-top: -37px;
  width: 100%; }
  @media (min-width: 668px) and (max-width: 1024px) {
    body header .lineas-img-2 .img-abajo {
      margin-top: -61px; } }

body header .slide {
  background: linear-gradient(to right, #5FACFF 0%, #4E769A 100%); }
  @media (max-width: 667px) {
    body header .slide {
      height: 650px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body header .slide {
      height: 416px; } }
  body header .slide .cover-page .img {
    text-align: right; }
    @media (max-width: 667px) {
      body header .slide .cover-page .img {
        text-align: left; } }
    body header .slide .cover-page .img img {
      margin-top: 31px; }
      @media (max-width: 667px) {
        body header .slide .cover-page .img img {
          width: 59%;
          position: absolute;
          top: 210px;
          left: 8%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body header .slide .cover-page .img img {
          width: 82%;
          margin-top: 88px;
          margin-left: 34%; } }
      @media (min-width: 1025px) {
        body header .slide .cover-page .img img {
          width: 78%;
          margin-left: 37%;
          margin-top: 88px; } }
      @media screen and (min-width: 1900px) {
        body header .slide .cover-page .img img {
          width: 58%;
          margin-left: 50%; } }
  body header .slide .title {
    color: #FFFFFF; }
    @media (max-width: 667px) {
      body header .slide .title {
        margin-left: 8%; } }
    @media (max-width: 667px) {
      body header .slide .title h1 {
        font-size: 50px;
        margin-top: 53px;
        margin-bottom: 240px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body header .slide .title h1 {
        font-size: 41px;
        margin-top: 100px; } }
    @media (min-width: 1025px) {
      body header .slide .title h1 {
        font-size: 61px;
        margin-top: 96px; } }
    @media (min-width: 1025px) {
      body header .slide .title ul {
        font-size: 25px; } }
    body header .slide .title button {
      background-color: #FF6700;
      color: #FFFFFF;
      border-radius: 30px;
      height: 49px;
      width: 80%;
      border: 0;
      cursor: pointer;
      transition: 1s;
      font-style: italic;
      font-weight: bold;
      box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75); }
      @media (max-width: 667px) {
        body header .slide .title button {
          font-size: 17px;
          width: 90%;
          margin-bottom: 37px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body header .slide .title button {
          font-size: 26px;
          width: 90%;
          margin-bottom: 37px; } }
      @media (min-width: 1025px) {
        body header .slide .title button {
          font-size: 37px;
          height: 60px; } }
      @media screen and (min-width: 1900px) {
        body header .slide .title button {
          width: 60%; } }
    body header .slide .title button:hover {
      background-color: #FFFFFF;
      color: #FF6700;
      border: solid 1px #FF6700; }

body main .columna {
  height: 160px;
  text-align: center;
  border-bottom: solid 2px #5FACFF; }
  body main .columna p {
    margin: 0; }
    @media (max-width: 667px) {
      body main .columna p {
        font-size: 30px;
        margin-top: 35px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .columna p {
        font-size: 30px;
        line-height: 3.3; } }
    @media (min-width: 1025px) {
      body main .columna p {
        font-size: 35px;
        line-height: 3.2; } }

body main .lineas-columna-2 {
  position: absolute;
  width: 100%;
  text-align: right;
  margin-top: -46px; }
  @media (max-width: 667px) {
    body main .lineas-columna-2 {
      display: none; } }

body main .columna-2 {
  background: linear-gradient(to right, #5FACFF 0%, #4E769A 100%);
  color: #FFFFFF;
  padding-left: 9%;
  padding-right: 9%; }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .columna-2 {
      padding-left: 7%;
      padding-right: 4%; } }
  body main .columna-2 .items {
    margin-right: 0;
    margin-left: 0;
    margin-top: 18px;
    padding-bottom: 3%; }
    @media (max-width: 667px) {
      body main .columna-2 .items {
        margin-top: 65px; } }
    @media (max-width: 667px) {
      body main .columna-2 .items .item-1 {
        text-align: center; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .columna-2 .items .item-1 {
        text-align: center; } }
    @media (min-width: 1025px) {
      body main .columna-2 .items .item-1 {
        text-align: left; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .columna-2 .items .item-1 img {
        float: left; } }
    @media (min-width: 1025px) {
      body main .columna-2 .items .item-1 img {
        float: left; } }
    body main .columna-2 .items .item-1 h2 {
      margin-left: 22%;
      font-size: 34px; }
      @media (max-width: 667px) {
        body main .columna-2 .items .item-1 h2 {
          margin-left: 0;
          margin-top: 36px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .columna-2 .items .item-1 h2 {
          font-size: 32px; } }
    body main .columna-2 .items .item-1 strong {
      font-size: 40px; }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .columna-2 .items .item-1 strong {
          font-size: 36px; } }
    @media (max-width: 667px) {
      body main .columna-2 .items .item-2 {
        padding-bottom: 20%; } }
    body main .columna-2 .items .item-2 button {
      background-color: #FF6700;
      color: #FFFFFF;
      border: solid 1px #FF6700;
      border-radius: 50px;
      transition: 1s;
      cursor: pointer;
      margin-top: 34px;
      margin-left: 13%;
      font-style: italic;
      box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75); }
      @media (max-width: 667px) {
        body main .columna-2 .items .item-2 button {
          margin-left: 0;
          width: 100%;
          font-size: 34px;
          height: 132px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .columna-2 .items .item-2 button {
          font-size: 24px;
          width: 91%;
          margin-top: 25px; } }
      @media (min-width: 1025px) {
        body main .columna-2 .items .item-2 button {
          width: 80%;
          font-size: 28px; } }
    body main .columna-2 .items .item-2 button:hover {
      background-color: #FFFFFF;
      color: #FF6700;
      border: solid 1px #FF6700; }

body main .slider-testimonio {
  background-image: url("../../assets/images/Fondo-Slider-Testimonio.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }
  body main .slider-testimonio .description p {
    text-align: center;
    padding-top: 52%;
    padding-bottom: 8%;
    font-size: 26px;
    margin-top: 80px; }
    @media (max-width: 667px) {
      body main .slider-testimonio .description p {
        font-size: 18px; } }

body main .cards {
  text-align: center;
  background: linear-gradient(to top, #FFFFFF 0%, #E4E4E4 100%);
  background-size: 100%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 12%; }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .cards {
      padding-left: 7%;
      padding-right: 0%; } }
  body main .cards p {
    font-weight: bold; }
  body main .cards h3 {
    font-size: 32px;
    margin-top: 100px; }
  body main .cards .group-1 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 100px; }
    body main .cards .group-1 .card-1,
    body main .cards .group-1 .card-2,
    body main .cards .group-1 .card-3 {
      background-color: #FFFFFF;
      border: solid 2px #78D1DF;
      border-radius: 27px;
      height: 319px;
      margin-right: 35px;
      box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75); }
      body main .cards .group-1 .card-1 p,
      body main .cards .group-1 .card-2 p,
      body main .cards .group-1 .card-3 p {
        margin-top: 40px;
        font-size: 25px; }
      @media (max-width: 667px) {
        body main .cards .group-1 .card-1,
        body main .cards .group-1 .card-2,
        body main .cards .group-1 .card-3 {
          max-width: 100%;
          margin-right: 9px;
          margin-bottom: 65px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .cards .group-1 .card-1,
        body main .cards .group-1 .card-2,
        body main .cards .group-1 .card-3 {
          max-width: 28%; } }
      @media (min-width: 1025px) {
        body main .cards .group-1 .card-1,
        body main .cards .group-1 .card-2,
        body main .cards .group-1 .card-3 {
          max-width: 30%; } }
    body main .cards .group-1 img {
      margin-top: 34px;
      margin-bottom: 19px; }
  body main .cards .group-2 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 59px; }
    body main .cards .group-2 .card-1,
    body main .cards .group-2 .card-2,
    body main .cards .group-2 .card-3 {
      background-color: #FFFFFF;
      border: solid 2px #78D1DF;
      border-radius: 27px;
      height: 319px;
      margin-right: 35px;
      box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75); }
      @media (max-width: 667px) {
        body main .cards .group-2 .card-1,
        body main .cards .group-2 .card-2,
        body main .cards .group-2 .card-3 {
          max-width: 100%;
          margin-right: 9px;
          margin-bottom: 65px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .cards .group-2 .card-1,
        body main .cards .group-2 .card-2,
        body main .cards .group-2 .card-3 {
          max-width: 28%; } }
      @media (min-width: 1025px) {
        body main .cards .group-2 .card-1,
        body main .cards .group-2 .card-2,
        body main .cards .group-2 .card-3 {
          max-width: 30%; } }
    body main .cards .group-2 .card-2 p {
      margin-top: 51px;
      font-size: 25px; }
    body main .cards .group-2 .card-3 p {
      margin-top: 33px;
      font-size: 25px; }
    body main .cards .group-2 .card-1 p {
      margin-top: 8px;
      font-size: 25px; }
    body main .cards .group-2 img {
      margin-top: 34px;
      margin-bottom: 19px; }

body main .whatsapp {
  text-align: center;
  background-image: url("../../assets/images/Fondo-Whatsapp.png");
  padding-bottom: 10%; }
  @media (max-width: 667px) {
    body main .whatsapp {
      padding-bottom: 14%; } }
  body main .whatsapp h3 {
    margin-top: 200px;
    margin-bottom: 35px; }
    @media (max-width: 667px) {
      body main .whatsapp h3 {
        margin-top: 64px; } }
  body main .whatsapp .whast {
    margin-bottom: 50px;
    transition: 1s; }
    @media (max-width: 667px) {
      body main .whatsapp .whast {
        width: 81%; } }
  body main .whatsapp .whast:hover {
    transform: scale(1.2); }
  body main .whatsapp h3,
  body main .whatsapp strong {
    font-size: 32px; }
    @media (max-width: 667px) {
      body main .whatsapp h3,
      body main .whatsapp strong {
        font-size: 24px; } }
  body main .whatsapp p {
    font-size: 27px;
    margin: 0; }
  body main .whatsapp .slide {
    padding-left: 17%;
    padding-right: 17%; }
    body main .whatsapp .slide .galeria {
      height: 700px; }
      @media (max-width: 667px) {
        body main .whatsapp .slide .galeria {
          height: 300px; } }
      body main .whatsapp .slide .galeria img {
        margin-top: 116px; }
        @media (max-width: 667px) {
          body main .whatsapp .slide .galeria img {
            height: 200px; } }
    body main .whatsapp .slide .carousel-control-prev {
      top: 124px; }
      @media (max-width: 667px) {
        body main .whatsapp .slide .carousel-control-prev {
          top: 124px;
          left: 2%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .whatsapp .slide .carousel-control-prev {
          left: 3%; } }
      @media (min-width: 1025px) {
        body main .whatsapp .slide .carousel-control-prev {
          left: 9%; } }
    body main .whatsapp .slide .carousel-control-next {
      top: 124px; }
      @media (max-width: 667px) {
        body main .whatsapp .slide .carousel-control-next {
          top: 124px;
          right: 2%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .whatsapp .slide .carousel-control-next {
          right: 3%; } }
      @media (min-width: 1025px) {
        body main .whatsapp .slide .carousel-control-next {
          right: 9%; } }
    body main .whatsapp .slide span {
      font-size: 72px;
      color: #000000; }

body main .formulario-final {
  background-image: url("../../assets/images/Fondo-Form-Final.jpg"); }
  @media (min-width: 1025px) {
    body main .formulario-final {
      background-size: 100%; } }
  body main .formulario-final .title {
    font-size: 37px;
    margin: 0;
    margin-top: 150px;
    text-align: center;
    color: #FFFFFF; }
  body main .formulario-final .form-description {
    margin-right: 0;
    margin-left: 0;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 8%;
    padding-bottom: 8%; }
    @media (max-width: 667px) {
      body main .formulario-final .form-description {
        padding-top: 23%;
        padding-bottom: 44%; } }
    body main .formulario-final .form-description .description {
      background-color: #FFFFFF;
      border-radius: 22px;
      text-align: center;
      padding-top: 9%;
      padding-bottom: 6%; }
      @media (max-width: 667px) {
        body main .formulario-final .form-description .description p {
          font-size: 24px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .formulario-final .form-description .description p {
          font-size: 32px; } }
      @media (min-width: 1025px) {
        body main .formulario-final .form-description .description p {
          font-size: 37px; } }
      body main .formulario-final .form-description .description label {
        color: #00C13A; }
      body main .formulario-final .form-description .description img {
        margin-top: 120px; }
        @media (max-width: 667px) {
          body main .formulario-final .form-description .description img {
            display: none; } }
    @media (max-width: 667px) {
      body main .formulario-final .form-description .form {
        margin-top: 30px;
        padding-right: 0;
        padding-left: 0; } }
    body main .formulario-final .form-description .form form {
      background-color: #FFFFFF;
      padding-top: 13%;
      padding-left: 9%;
      padding-right: 9%;
      border-radius: 22px;
      padding-bottom: 25%; }
      body main .formulario-final .form-description .form form p {
        font-size: 29px;
        margin-bottom: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 43px; }
      body main .formulario-final .form-description .form form label {
        color: #00C13A; }
      body main .formulario-final .form-description .form form input {
        border-radius: 30px;
        margin-bottom: 17px;
        border: solid 1px #004D94;
        height: 50px;
        width: 100%;
        padding: .375rem .75rem; }
      body main .formulario-final .form-description .form form .bton {
        width: 100%;
        background-color: #5FACFF;
        color: #FFFFFF;
        height: 50px;
        transition: 1s;
        font-size: 25px;
        border-radius: 70px;
        font-style: italic;
        font-weight: bold; }
      body main .formulario-final .form-description .form form .bton:hover {
        background-color: #FFFFFF;
        color: #5FACFF;
        border: solid 1px #5FACFF;
        border-radius: 80px; }

body main .popups .modal .modal-dialog {
  padding-left: 5%;
  padding-right: 5%; }
  @media (max-width: 667px) {
    body main .popups .modal .modal-dialog {
      padding-top: 28%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .popups .modal .modal-dialog {
      padding-top: 40%; } }
  @media (min-width: 1025px) {
    body main .popups .modal .modal-dialog {
      padding-top: 5%; } }
  body main .popups .modal .modal-dialog .modal-content {
    background-color: #5FACFF;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 20%; }
    body main .popups .modal .modal-dialog .modal-content .close {
      text-align: right;
      margin-top: -26px;
      margin-right: -8%;
      margin-bottom: 27px; }
      body main .popups .modal .modal-dialog .modal-content .close span {
        background-color: #FFFFFF;
        color: #5FACFF;
        border-radius: 40px;
        padding-left: 2%;
        padding-right: 2%; }
    body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-1 {
      position: absolute;
      right: 77%;
      width: 66.2%; }
      @media (max-width: 667px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-1 {
          right: 71%;
          top: 214px;
          width: 38%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-1 {
          top: 32px; } }
      @media (min-width: 1025px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-1 {
          top: 69px; } }
      @media screen and (min-width: 1900px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-1 {
          top: 145px; } }
    body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-2 {
      left: 81%;
      position: absolute;
      width: 66.4%; }
      @media (max-width: 667px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-2 {
          left: 72%;
          top: 214px;
          width: 38%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-2 {
          top: 32px; } }
      @media (min-width: 1025px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-2 {
          top: 69px; } }
      @media screen and (min-width: 1900px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body .especialista-2 {
          top: 145px; } }
    body main .popups .modal .modal-dialog .modal-content .modal-body p {
      font-size: 30px;
      color: #FFFFFF; }
      @media (max-width: 667px) {
        body main .popups .modal .modal-dialog .modal-content .modal-body p {
          font-size: 26px; } }
    body main .popups .modal .modal-dialog .modal-content .modal-body form {
      padding-left: 8%;
      padding-right: 8%;
      margin-top: 38px; }
      body main .popups .modal .modal-dialog .modal-content .modal-body form input {
        background-color: transparent;
        color: #FFFFFF;
        border: solid 1px #FFFFFF;
        border-radius: 23px;
        height: 50px;
        margin-bottom: 22px;
        box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
        width: 100%;
        padding: .375rem .75rem; }
      body main .popups .modal .modal-dialog .modal-content .modal-body form ::placeholder {
        color: #FFFFFF;
        font-style: italic; }
    body main .popups .modal .modal-dialog .modal-content .modal-body button {
      background-color: #FF6700;
      color: #FFFFFF;
      width: 80%;
      border-radius: 32px;
      font-size: 27px;
      margin-bottom: 23px;
      transition: 1s;
      font-style: italic;
      right: 9%;
      z-index: 1;
      position: absolute; }
    body main .popups .modal .modal-dialog .modal-content .modal-body button:hover {
      background-color: #FFFFFF;
      color: #FF6700;
      border: solid 1px #FF6700; }

body main .video-formulario .v-form {
  margin-top: 112px;
  padding-left: 4%;
  padding-right: 4%;
  margin-right: 0;
  margin-left: 0; }
  @media (max-width: 667px) {
    body main .video-formulario .v-form .video iframe {
      width: 320px;
      height: 200px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .video-formulario .v-form .video iframe {
      width: 100%;
      height: 468px; } }
  @media (min-width: 1025px) {
    body main .video-formulario .v-form .video iframe {
      width: 95%;
      height: 433px; } }
  body main .video-formulario .v-form .form {
    font-size: 29px;
    margin-top: 26px; }
    @media (max-width: 667px) {
      body main .video-formulario .v-form .form {
        text-align: center; } }
    body main .video-formulario .v-form .form form {
      padding-left: 1%; }
      @media (max-width: 667px) {
        body main .video-formulario .v-form .form form {
          padding-right: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .video-formulario .v-form .form form {
          padding-right: 6%; } }
      @media (min-width: 1025px) {
        body main .video-formulario .v-form .form form {
          padding-right: 31%; } }
      body main .video-formulario .v-form .form form input {
        margin-bottom: 27px;
        border-radius: 26px;
        height: 48px;
        box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75);
        border: solid 1px #D3D3D3;
        width: 100%;
        padding: .375rem .75rem; }
      body main .video-formulario .v-form .form form ::placeholder {
        color: #BCBCBC;
        font-size: 20px;
        font-style: italic; }
    body main .video-formulario .v-form .form .flecha {
      text-align: center;
      -webkit-animation: tiembla 0.5s infinite; }
      body main .video-formulario .v-form .form .flecha i {
        font-size: 50px; }

@-webkit-keyframes tiembla {
  40%,
  60% {
    transform: translate3d(0px, 10px, 0); } }
    body main .video-formulario .v-form .form .bton {
      background-color: #5FACFF;
      color: #FFFFFF;
      width: 100%;
      font-style: italic;
      font-size: 28px;
      border-radius: 47px;
      transition: 1s; }
    body main .video-formulario .v-form .form .btn:hover {
      background-color: #FFFFFF;
      color: #5FACFF;
      border-color: #5FACFF; }

body main .video-formulario .img {
  text-align: right; }

body main .block-services {
  text-align: center;
  background: url("../../assets/images/Fondo-Servicios.jpg");
  color: #FFFFFF;
  margin-top: -164px;
  padding-left: 5%;
  padding-right: 5%; }
  @media (min-width: 1025px) {
    body main .block-services {
      background-size: 100%; } }
  @media (max-width: 667px) {
    body main .block-services .item {
      margin-bottom: 40px; } }
  body main .block-services h3 {
    font-size: 75px;
    margin-top: 77px; }
    @media (max-width: 667px) {
      body main .block-services h3 {
        font-size: 60px; } }
  body main .block-services .group-1 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 100px;
    margin-bottom: 90px; }
  body main .block-services .group-2 {
    margin-right: 0;
    margin-left: 0; }
  body main .block-services img {
    background-color: #FFFFFF;
    border-radius: 130px;
    margin-bottom: 22px; }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .block-services img {
        width: 100%; } }
  body main .block-services .group-3 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 130px;
    padding-bottom: 15%; }
    body main .block-services .group-3 .description p {
      text-align: left; }
      @media (max-width: 667px) {
        body main .block-services .group-3 .description p {
          font-size: 34px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .block-services .group-3 .description p {
          font-size: 26px; } }
      @media (min-width: 1025px) {
        body main .block-services .group-3 .description p {
          font-size: 44px; } }
    body main .block-services .group-3 .btn button {
      background-color: #FF6700;
      color: #FFFFFF;
      border-radius: 100px;
      cursor: pointer;
      border: solid 1px #FF6700;
      height: 55px;
      margin-top: 17px;
      transition: 1s;
      box-shadow: 10px 10px 27px -10px rgba(0, 0, 0, 0.75);
      font-style: italic; }
      @media (max-width: 667px) {
        body main .block-services .group-3 .btn button {
          font-size: 19px;
          width: 100%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .block-services .group-3 .btn button {
          font-size: 24px; } }
      @media (min-width: 1025px) {
        body main .block-services .group-3 .btn button {
          font-size: 30px;
          width: 100%; } }
    body main .block-services .group-3 .btn button:hover {
      background-color: #FFFFFF;
      color: #FF6700;
      border: solid 1px #FF6700; }

body main .lineas-services {
  margin-top: -105px;
  position: absolute; }
  @media (max-width: 667px) {
    body main .lineas-services {
      display: none; } }

body main .perfiles-profesionales {
  background-image: url("../../assets/images/Fondo-Perfiles.png");
  padding-bottom: 12%; }
  body main .perfiles-profesionales .title h2 {
    font-size: 52px;
    text-align: center;
    margin-top: 100px; }
    @media (max-width: 667px) {
      body main .perfiles-profesionales .title h2 {
        font-size: 38px; } }
  body main .perfiles-profesionales .group-1 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 250px;
    margin-bottom: 160px; }
    body main .perfiles-profesionales .group-1 .nombre-profesinal {
      background: linear-gradient(to right, #5FACFF 0%, #4E769A 100%);
      border-radius: 0px 47px 47px 0px;
      height: 60px; }
      @media (max-width: 667px) {
        body main .perfiles-profesionales .group-1 .nombre-profesinal {
          border-radius: 47px;
          width: 100%;
          height: 86px;
          margin-left: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .perfiles-profesionales .group-1 .nombre-profesinal {
          margin-left: 30%; } }
      @media (min-width: 1025px) {
        body main .perfiles-profesionales .group-1 .nombre-profesinal {
          margin-left: 15%; } }
      @media screen and (min-width: 1900px) {
        body main .perfiles-profesionales .group-1 .nombre-profesinal {
          margin-left: 5%; } }
      body main .perfiles-profesionales .group-1 .nombre-profesinal h2 {
        color: #FFFFFF;
        margin-top: -12px; }
        body main .perfiles-profesionales .group-1 .nombre-profesinal h2 strong {
          margin-left: 11%; }
          @media (min-width: 1025px) {
            body main .perfiles-profesionales .group-1 .nombre-profesinal h2 strong {
              font-size: 35px;
              margin-left: 15%; } }
        @media (max-width: 667px) {
          body main .perfiles-profesionales .group-1 .nombre-profesinal h2 {
            font-size: 25px;
            text-align: center; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .perfiles-profesionales .group-1 .nombre-profesinal h2 {
            font-size: 25px; } }
        @media (min-width: 1025px) {
          body main .perfiles-profesionales .group-1 .nombre-profesinal h2 {
            font-size: 19px; } }
    @media (max-width: 667px) {
      body main .perfiles-profesionales .group-1 h3 {
        margin-left: 0; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .perfiles-profesionales .group-1 h3 {
        margin-left: 43%; } }
    @media (min-width: 1025px) {
      body main .perfiles-profesionales .group-1 h3 {
        margin-left: 28%; } }
    @media screen and (min-width: 1900px) {
      body main .perfiles-profesionales .group-1 h3 {
        margin-left: 15%; } }
    @media (max-width: 667px) {
      body main .perfiles-profesionales .group-1 p {
        margin-left: 0; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .perfiles-profesionales .group-1 p {
        margin-left: 43%; } }
    @media (min-width: 1025px) {
      body main .perfiles-profesionales .group-1 p {
        margin-left: 28%; } }
    @media screen and (min-width: 1900px) {
      body main .perfiles-profesionales .group-1 p {
        margin-left: 15%; } }
    body main .perfiles-profesionales .group-1 .img img {
      margin-top: -191px;
      margin-left: 0; }
      @media (max-width: 667px) {
        body main .perfiles-profesionales .group-1 .img img {
          width: 100%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .perfiles-profesionales .group-1 .img img {
          margin-left: -55px;
          width: 450%; } }
      @media screen and (min-width: 1900px) {
        body main .perfiles-profesionales .group-1 .img img {
          margin-top: -264px; } }
  body main .perfiles-profesionales .group-2 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 8%;
    padding-right: 8%; }
    @media (max-width: 667px) {
      body main .perfiles-profesionales .group-2 {
        margin-top: 470px; } }
    body main .perfiles-profesionales .group-2 .nombre-profesinal {
      background-color: #5FACFF;
      border-radius: 47px 0px 0px 47px;
      height: 60px;
      margin-left: 17%; }
      @media (max-width: 667px) {
        body main .perfiles-profesionales .group-2 .nombre-profesinal {
          border-radius: 47px;
          width: 100%;
          height: 86px;
          margin-left: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .perfiles-profesionales .group-2 .nombre-profesinal {
          margin-left: 0; } }
      body main .perfiles-profesionales .group-2 .nombre-profesinal h2 {
        color: #FFFFFF;
        margin-top: -12px; }
        @media (max-width: 667px) {
          body main .perfiles-profesionales .group-2 .nombre-profesinal h2 {
            font-size: 25px;
            text-align: center; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .perfiles-profesionales .group-2 .nombre-profesinal h2 {
            font-size: 25px; } }
        @media (min-width: 1025px) {
          body main .perfiles-profesionales .group-2 .nombre-profesinal h2 {
            font-size: 19px; } }
        @media (max-width: 667px) {
          body main .perfiles-profesionales .group-2 .nombre-profesinal h2 strong {
            margin-left: 6%; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .perfiles-profesionales .group-2 .nombre-profesinal h2 strong {
            margin-left: 21%; } }
        @media (min-width: 1025px) {
          body main .perfiles-profesionales .group-2 .nombre-profesinal h2 strong {
            margin-left: 29%;
            font-size: 35px; } }
        @media screen and (min-width: 1900px) {
          body main .perfiles-profesionales .group-2 .nombre-profesinal h2 strong {
            margin-left: 36%; } }
    body main .perfiles-profesionales .group-2 h3 {
      text-align: right; }
      @media (max-width: 667px) {
        body main .perfiles-profesionales .group-2 h3 {
          margin-right: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .perfiles-profesionales .group-2 h3 {
          margin-right: 41%; } }
      @media (min-width: 1025px) {
        body main .perfiles-profesionales .group-2 h3 {
          margin-right: 23%; } }
      @media screen and (min-width: 1900px) {
        body main .perfiles-profesionales .group-2 h3 {
          margin-right: 28%; } }
    body main .perfiles-profesionales .group-2 p {
      text-align: right; }
      @media screen and (min-width: 1900px) {
        body main .perfiles-profesionales .group-2 p {
          margin-right: 28%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .perfiles-profesionales .group-2 p {
          margin-right: 41%; } }
      @media (max-width: 667px) {
        body main .perfiles-profesionales .group-2 p {
          margin-right: 0; } }
      @media (min-width: 1025px) {
        body main .perfiles-profesionales .group-2 p {
          margin-right: 23%; } }
      @media screen and (min-width: 1900px) {
        body main .perfiles-profesionales .group-2 p {
          margin-right: 28%; } }
    body main .perfiles-profesionales .group-2 .img img {
      margin-top: -191px; }
      @media (max-width: 667px) {
        body main .perfiles-profesionales .group-2 .img img {
          width: 100%;
          margin-left: 0;
          margin-top: -1118px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .perfiles-profesionales .group-2 .img img {
          margin-left: -258%;
          width: 450%;
          margin-top: -107px; } }
      @media (min-width: 1025px) {
        body main .perfiles-profesionales .group-2 .img img {
          margin-left: -144%; } }
      @media screen and (min-width: 1900px) {
        body main .perfiles-profesionales .group-2 .img img {
          margin-top: -253px; } }
  body main .perfiles-profesionales .description h3 {
    color: #37436F;
    font-weight: bold;
    margin-top: 18px; }
  body main .perfiles-profesionales .description p {
    color: #9E9E9E; }
  body main .perfiles-profesionales .block-description {
    text-align: center;
    background-color: #5FACFF;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 66px;
    margin-top: 50px; }
    @media (max-width: 667px) {
      body main .perfiles-profesionales .block-description {
        width: 94%;
        margin-left: 3%;
        padding-top: 11%;
        padding-bottom: 11%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .perfiles-profesionales .block-description {
        width: 89%;
        margin-left: 6%; } }
    @media (min-width: 1025px) {
      body main .perfiles-profesionales .block-description {
        width: 64%;
        margin-left: 18%; } }
    body main .perfiles-profesionales .block-description h2,
    body main .perfiles-profesionales .block-description p {
      color: #FFFFFF; }
    body main .perfiles-profesionales .block-description h2 {
      font-weight: 900;
      font-style: italic; }
      @media (max-width: 667px) {
        body main .perfiles-profesionales .block-description h2 {
          font-size: 37px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .perfiles-profesionales .block-description h2 {
          font-size: 44px; } }
      @media (min-width: 1025px) {
        body main .perfiles-profesionales .block-description h2 {
          font-size: 51px; } }
    @media (max-width: 667px) {
      body main .perfiles-profesionales .block-description p {
        font-size: 24px;
        margin-top: 33px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .perfiles-profesionales .block-description p {
        font-size: 28px; } }
    @media (min-width: 1025px) {
      body main .perfiles-profesionales .block-description p {
        font-size: 34px; } }

body main .columna-3 {
  background-image: url("../../assets/images/Fondo-Perfiles.png"); }
  body main .columna-3 p {
    margin: 0;
    font-size: 48px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%; }
    @media (max-width: 667px) {
      body main .columna-3 p {
        padding-top: 10%;
        padding-bottom: 10%; } }

body main .lineas-columna-4 {
  position: absolute;
  margin-top: -40px; }
  @media (max-width: 667px) {
    body main .lineas-columna-4 {
      display: none; } }

body main .columna-4 {
  background-color: #AFAFAF;
  text-align: center; }
  body main .columna-4 img {
    padding-top: 3%;
    padding-bottom: 3%; }
    @media (max-width: 667px) {
      body main .columna-4 img {
        padding-top: 8%;
        padding-bottom: 8%; } }
